@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("~assets/fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("~assets/fonts/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: semibold;
  font-weight: 600;
  font-display: swap;
  src: url("~assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Nunito-Bold.ttf") format("truetype");
}

* {
  font-family: "Nunito", sans-serif;
}
